Source: huayra-backgrounds-ocho
Section: graphics
Priority: extra
Maintainer: Claudio Andaur <malefico3d@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.6
Homepage: https://github.com/HuayraLinux/huayra-backgrounds-extras
Vcs-Git: https://github.com/HuayraLinux/huayra-backgrounds-extras.git

Package: huayra-backgrounds-ocho
Architecture: all
Conflicts: huayra-backgrounds-ocho ( <= 0.25)
Replaces: huayra-backgrounds-ocho ( <= 0.25)
Depends: ${misc:Depends}
Description: Fondos de escritorio Huayra Ocho.
 Pack de fondos de escritorio oficial de Huayra 4.0.

