Source: huayra-backgrounds-regionales
Section: graphics
Priority: extra
Maintainer: Claudio Andaur <malefico3d@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.6
Homepage: https://github.com/HuayraLinux/huayra-backgrounds-extras
Vcs-Git: https://github.com/HuayraLinux/huayra-backgrounds-extras.git

Package: huayra-backgrounds-regionales
Architecture: all
Conflicts: huayra-backgrounds-regionales ( <= 0.25)
Replaces: huayra-backgrounds-regionales ( <= 0.25)
Depends: ${misc:Depends}
Description: Fondos de pantalla serie Regionales
 Este paquete instala la serie Regionales de los fondos de pantalla de
 Huayra GNU/Linux.
 Cada región de nuestro país se caracteriza por su gente, su música, su
 geografía, sus comidas y también por sus colores.
 En esta serie buscamos sintetizar esas paletas que nos identifican.
 Buscate en tus colores.

